* {
  margin: 0;
}

body {
  --slack-color: #3f0f40;
  --slack-black: #121016;
  --bg-search: #3e3d42;
  --bg-sidebar: #19171d;
  --border-gray: #383839;
  --light-grey: #d1d2d3;
  --gray-hover: #252424;

  overflow: hidden;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
